{% load static %}

<section id="banner2" class="hrProcess">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title">Get Employment</h3>
        <ul class="">
          <li>
            <figure><img src="{% static "img/process-icon.png"%}"></figure>
            <h3>Create Profile</h3>
          </li>
          <li>
            <figure><img src="{% static "img/process-icon2.png"%}"></figure>
            <h3>Complete Course</h3>
          </li>
          <li>
            <figure><img src="{% static "img/process-icon3.png"%}"></figure>
            <h3>Get Certification</h3>
          </li>
          <li>
            <figure><img src="{% static "img/process-icon4.png"%}"></figure>
            <h3>Get Hired</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>