{% if messages %}
  {% for message in messages %}
    <div id="msg" class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
      <strong>{{ message }} </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  {% endfor %}
{% endif %}

<script> 
    setTimeout(function(){
        if($('#msg').length > 0 ){
            $('#msg').remove();
        }
    }, 3000)

</script>