{% extends 'base_inner.html' %}

{% load static %}

{% block title %} Candidate Reset-Password {% endblock title %}

{% block content %}

<section class="banrVideo pt-0 pb-0 mb-0">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      
      <div class="col-lg-6 text-center my-auto">
        {% include 'partials/_messages.html' %}
        <div class="loginForm p-5">
          <h1>Reset your password!</h1>
          <form id="contact" method="post" class="form pt-4" role="form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12 form-group">
                <input class="form-control" id="password" name="password" placeholder="Password*" type="password"
                  required style='display: text;' />
                  {% if form.password.errors%}
                    <div style="color:red; text-align:left; font-size: 12px;">{{form.password.errors}}</div>
                  {%endif%}
              </div>
              <div class="col-md-12 form-group">
                <input class="form-control" id="confirm_password" name="confirm_password" placeholder="New Password*"
                  type="password" required style='display: text;' />
                  {% if form.confirm_password.errors%}
                    <div style="color:red; text-align:left; font-size: 12px;">{{form.confirm_password.errors}}</div>
                  {%endif%}
                <span id="message"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 form-group">
                <button id="reset_button" class="btn btn-primary pull-right" type="submit">Reset Password</button>
              </div>  
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block footer_scripts %}
<script>
  // Event to check Passwor and confirm Equal
  $('#confirm_password').on('change', function () {
    if ($('#password').val() == $('#confirm_password').val()) {
      $("#reset_button").attr("disabled", false)
      $('#confirm_password').css({
        border: "1px solid green"
      });
      $('#password').css({
        border: "1px solid green"
      });
      $('#message').html('Password matched').css({
        'color': 'green',
        'text-align': 'left',
        'font-size': '10px'
      })
    } else {
      $('#confirm_password').css({
        border: "1px solid red"
      })
      $('#password').css({
        border: "1px solid red"
      })
      $("#reset_button").attr("disabled", true)
      $('#message').html("Password does'nt matched! Try again").css({
        'color': 'red',
        'text-align': 'left',
        'font-size': '10px'
      })
    }
  });
</script>



{%endblock footer_scripts%}