{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
{{ form.media }}
{% endblock %}
{% block bodyclass %}
{{ block.super }} login{% endblock %}
{% block usertools %} {% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}

<div style="width:100%">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors%}
    <div style="color: red; font-size: 12px">{{ error }}</div>
    {% endfor %}
    {% endif %}
    <form id="contact" method="post" class="form pt-4" role="form">
        {% csrf_token %}
        <div class="form-row">
            <h2 id="site-name">
                <figure><img src="{% static 'img/logo.png' %}"></figure>
                CYBERUHURU RESET PASSWORD
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input class="form-control" id="password" name="password" placeholder="Password*" type="password"
                    required style='display: text;' />
            </div>
            {% if form.password.errors %}
            <div style="color: red; text-align: left; font-size: 12px">
                <span id="password_error">{{form.password.errors.0}}</span>
            </div>
            {%endif%}
            <div class="col-md-12 form-group">
                <input class="form-control" id="confirm_password" name="confirm_password" placeholder="New Password*"
                    type="password" required style='display: text;' />
                <span id="message"></span>
            </div>
        </div>
        <div class="row">
            <div class="submit-row">
                {% comment %} <button class="btn btn-primary pull-right" type="submit">Reset Password</button> {% endcomment %}
                <input type="submit" value="{% trans 'Reset Password' %}" class="loginbtn" />
            </div>
            <!-- <div class="col-md-12">
        <p class="signUp">Don't have account ? <a href={% url 'user_register' %}>Create Account now</a></p>  
        </div>   -->
        </div>
    </form>
</div>
{% endblock %}