

/* ===================== Menu ==================*/
.siteMenus {position: relative;line-height: normal;float:right; }
.siteMenus ul { margin: 0; padding: 0;}
.siteMenus li {list-style: none;margin: 0; padding:0; position: relative; line-height: normal;float:left;}
.siteMenus li a {padding:6px 15px;display:block;color:#fff;-webkit-transition:all .2s ease-out;-moz-transition: all .2s ease-out;transition: all .2s ease-out;font-weight:500;font-size:15px;}
.siteMenus li a.active{background:#434343;border-radius: 25px;}
/* .siteMenus li a.active::after{ width:25px; height:2px; background:#fe0000; content:""; display:block; margin-top:5px;}
.siteMenus li a:hover::after{ width:25px; height:2px; background:#fe0000; content:""; display:block;margin-top:5px;} */
/* .siteMenus li + li{margin-left:20px;} */
.siteMenus ul ul { top: auto; width:180px; position: absolute; z-index: 9900; text-align: left; display: none; background: #8ec549; }
.siteMenus li li { display: block;width:100%;margin:0 !important;border-top:1px solid #7daf3f;}
.siteMenus li li a{color:#fff;padding:10px;font-size:12px;}
.siteMenus ul ul li a:hover{background:#71a431;color:#fff;}
.siteMenus ul ul ul { top: 0; left: 220px; }
.siteMenus > ul > li:hover > ul > li:hover > ul { opacity: 1; visibility: visible; top: 0; }
.siteMenus > ul > li.drop-left > ul { right: 0; }
.siteMenus .menu-toggle, .siteMenus .close-menu, .siteMenus .call-btn-mobile, .siteMenus .location-btn-mobile { display: none; text-transform: uppercase; text-decoration: none; }
.siteMenus .dd-toggle { display: none; position: absolute; top: 0; right: 0; padding: 0; width: 48px; height: 48px; text-align: center; z-index: 9999; border: 0; }
.siteMenus a.dd-toggle .icon-plus { box-sizing: border-box; transition: transform 0.3s; width: 12px; height: 100%; position: relative; vertical-align: middle; display: inline-block; }
.siteMenus a.dd-toggle .icon-plus:before { content: ''; display: block; width: 12px; height: 0px; border-bottom: solid 3px #fff; position: absolute; top: 50%; transform: rotate(90deg); transition: width 0.3s; }
.siteMenus a.dd-toggle .icon-plus:after { content: ''; display: block; width: 12px; height: 0px; top: 50%; border-bottom: solid 3px #fff; position: absolute; }
.siteMenus li.open > a.dd-toggle .icon-plus { -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
.siteMenus.light a.dd-toggle .icon-plus:before { border-color: #000; }
.siteMenus.light a.dd-toggle .icon-plus:after { border-color: #000; }
.siteMenus.dark a.dd-toggle .icon-plus:before { border-color: #FFF; }
.siteMenus.dark a.dd-toggle .icon-plus:after { border-color: #FFF; }
.siteMenus .icon-close { box-sizing: border-box; width: 12px; height: 12px; position: relative; display: inline-block; }
.siteMenus .icon-close:before { content: ''; display: block; width: 12px; height: 0px; border-bottom: solid 3px #fff; position: absolute; top: 50%; transform: rotate(45deg); }
.siteMenus .icon-close:after { content: ''; display: block; width: 12px; height: 0px; top: 50%; border-bottom: solid 3px #fff; position: absolute; transform: rotate(-45deg); }
/* mobile nav */
.siteMenus .menu-toggle, .siteMenus .close-menu { padding:0; box-sizing: border-box; }
.siteMenus .menu-toggle span.bars { display: inline-block;position: relative; top:0px; }
.siteMenus .menu-toggle span.bars span { display: block; width:25px; height:2px;background: #fff; margin: 0 0 5px; }
.siteMenus .menu-toggle span.bars span:nth-child(2){width: 20px;}
.siteMenus .menu-toggle span.bars span:nth-child(3){width: 15px;}
.siteMenus.mobile {position:absolute;right:20px;top:20px;}
.siteMenus.mobile.fixed { position: static;}
.siteMenus.mobile ul { position: relative; display: none;}
.siteMenus.mobile.active { padding-bottom: 0; }
.siteMenus.mobile.active > ul { display: block; }
.siteMenus.mobile ul { text-align: left;}
.siteMenus.mobile > ul > li { display: block;}
.siteMenus.mobile > ul > li > a { padding: 15px;}
.siteMenus.mobile ul { background:#1b2330;}
.siteMenus.mobile ul ul { position: relative; opacity: 1; visibility: visible; width: auto; display: none; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }
.siteMenus.mobile ul ul ul { left: auto; top: auto; }
.siteMenus.mobile li.drop-left ul ul { right: auto; }
.siteMenus.mobile > ul { border-top: 1px solid rgba(255, 255, 255, .15); }
.siteMenus.mobile .menu-toggle, .siteMenus.mobile .dd-toggle, .siteMenus.mobile .close-menu{ display: inline-block;}
.siteMenus.mobile li.has-sub > a:after, .siteMenus.mobile li li.has-sub > a:after, .siteMenus.mobile li.drop-left li.has-sub > a:after { display: none; }
/* left and right positions */
.siteMenus.mobile.right > ul { position: fixed; top: 0; bottom: 0; width:70%; max-width: 100%; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;z-index:11; }
.siteMenus.mobile.right > ul { right: 0; }
.siteMenus.mobile.right .close-menu{ display: inline-block; text-align: left;padding:10px;width:auto; }
