<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/fonts.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap" rel="stylesheet">
<link rel='stylesheet' href="css/owl.carousel.min.css">
<link rel='stylesheet' href="css/owl.theme.default.min.css">
<link rel="stylesheet" type="text/css" media="all" href="css/stellarnav.css">
<title>CyberUhuru</title>
</head>
<body>
<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 col-lg-4"> <a href="index.html" class="logo"><img src="img/logo.png" class="img-fluid"></a> </div>
      <div class="col-md-8 col-lg-8 text-md-right">
        <div class="loginBtn">
          <div class="welcome"><a href="#demo" data-toggle="collapse">
            <div class="profileImg"><span>Mathew S. Siegle</span> <img src="img/user.jpg"></div>
            </a>
            <div class="userProfile_2">
              <div id="demo" class="collapse menuList">
                <ul>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="menuSerch">
          <div class="stellarnav">
            <ul>
              <li><a href="">Courses</a></li>
              <li><a href="">Hiring Process</a></li>
              <li><a href="certification.html">Certification</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <a class="searchBtn" href="#" id="toggle-search"><i class="fas fa-search"></i></a>
          <input style="display:none;" id="searchBar" name="search" type="search" placeholder="Search&hellip">
        </div>
      </div>
    </div>
  </div>
</header>
<section class="profile">
  <div class="leftSidebar left">
    <div class="menu-btn"> <a href="#" class="button-left"><i class="fas fa-bars"></i></a> </div>
    <ul class="lftMenu">
      <li><a href="profile.html"><img src="img/edit.png"> Edit Profile</a></li>
      <li><a href="certification.html"><img src="img/certi.png"> Certifications</a></li>
      <li><a href="change-password.html"><img src="img/c-password.png"> Change Password</a></li>
      <li><a href="training.html"><img src="img/training.png"> Training</a></li>
      <li><a href="agreement-document.html" class="active"><img src="img/Agreement.png"> Agreement</a></li>
    </ul>
  </div>
  <div class="rightSidebar">
    <ul class="skilBtn">
      <li><a href="#">Select Skills</a></li>
      <li><a href="#">Recommendation Courses </a></li>
    </ul>
    <div class="trainingBox">
      <h1>Agreement Document </h1>
      <ul class="aggList">
		<li class="d-md-flex d-sm-block flex-nowrap justify-content-between align-items-center"><label><input type="radio" name="2" checked="checked" value="yes" >Contractual agreement for 5 years </label> <div class="icon"><img src="img/doc.png"></div></li>	
		<li class="d-md-flex d-sm-block flex-nowrap justify-content-between align-items-center"><label><input type="radio" name="2" checked="checked" value="yes" >Upload signed Contractual agreement for 5 years </label> <div class="icon"><img src="img/attach.png"></div></li>	
	  </ul>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>Address</h3>
        <ul class="address">
          <li><i class="fas fa-map-marker-alt"></i> New York, NY 256364, United States</li>
          <li><i class="fas fa-phone"></i> +49 1724 55555</li>
          <li><a href="mailto:info@cyberuhuru.com"><i class="far fa-envelope"></i> info@cyberuhuru.com</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-4">
        <h3>ABOUT US</h3>
        <ul class="futLinks">
          <li><a href="#">Courses</a></li>
          <li><a href="#">Hiring Process</a></li>
          <li><a href="#">Certification</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3">
        <h3>Join the</h3>
        <ul class="socalMedia">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <p class="copyRight">Copyright © 2021 CyberUhuru Incorporated. All RIght Reserved.</p>
  </div>
</footer>

<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> --> 
<script src="js/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 


<!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script> --> 
<script type="text/javascript" src="js/stellarnav.min.js"></script> 
<script type="text/javascript">
	jQuery(document).ready(function($) {
		jQuery('.stellarnav').stellarNav({
			//theme: 'dark',
			breakpoint: 991,
			position: 'right',
			//phoneBtn: '18009997788',
		});
	});
</script> 
<script src="js/owl.carousel.min.js"></script> 
<script>
    $(document).ready(function() {
	  $("#bannerSlider").owlCarousel({
      //animateOut: 'fadeOut',
      items : 1,
	  nav:false,
	  dots:true,
	  loop:true,
	  autoplay:true,
	  autoplayTimeout:5000,
	  autoplayHoverPause:true
      });
    });
</script> 
<script>
	$('#calender').owlCarousel({        
		loop:true,
		margin:30, 
		dots:false,
		nav:true,       
		autoplay:true,
		singleItem:true,
		navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
		responsiveClass:true,
        responsive:{
            0:{items:1},
            400:{items:1},
            768:{items:2},
            1000:{items:3},
            1400:{items:3}            
        }
    });
</script> 
<script>
	$(document).ready(function(){       
   $('#welModal').modal('show');
    }); 
</script> 
<script>
	$('#toggle-search').on('click', function() {
  $('#searchBar').toggle('display: inline-block');
});
</script> 
<!-- custom check box --> 
<script type="text/javascript">
    function customCheckbox(checkboxName){
        var checkBox = $('input[name="'+ checkboxName +'"]');
        $(checkBox).each(function(){
            $(this).wrap( "<span class='custom-checkbox'></span>" );
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
        });
        $(checkBox).click(function(){
            $(this).parent().toggleClass("selected");
        });
    }
    $(document).ready(function (){
        customCheckbox("option[]");
    })
</script> 
<script>
function customRadio(radioName){
        var radioButton = $('input[name="'+ radioName +'"]');
        $(radioButton).each(function(){
            $(this).wrap( "<span class='custom-radio'></span>" );
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
        });
        $(radioButton).click(function(){
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
            $(radioButton).not(this).each(function(){
                $(this).parent().removeClass("selected");
            });
        });
    }
    $(document).ready(function (){
        customRadio("gender");
		customRadio("2");
		customRadio("1");
		customRadio("3");

  
    })
</script>

<script>$(document).ready(function(){
   $('.button-left').click(function(){
       $('.leftSidebar').toggleClass('fliph');
   });
     
});</script> 

</body>
</html>