{% extends 'base_inner.html' %}

{% load static %} 

{% block title %} Certificate {% endblock title %}

{% block content %}

<section class="pageBanner position-relative">
  <img src="{% static "img/page-banner.jpg"%}" class="img-fluid w-100" alt=""/>
  <div class="pageCaption">
    <div class="container">
      <h1>Certificate</h1>
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active">Certificate</li>
      </ul>
    </div>
  </div>
</section>
{% include "partials/_banner3.html" %} 
<section class="addSection">
  <div class="container">
    <h2 style="margin-bottom:4%">Be the Member of <span style="color:#0c3d96; display:contents">CyberUhuru</span> and get Certified</h2>
    <h2>See your Cetificate 
    {% if user.is_authenticated %}
        <a href="{% url 'candidate_certificate' %}">Click here</a>
    {% else %}
        <a href="{% url 'user_register' %}">Make Profile</a>
    {% endif %}
    </h2>
    <hr>
  </div>
</section>

{% endblock content %}