{% load static %}
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EVQDLRZFTK"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
     gtag('config', 'G-EVQDLRZFTK');
</script>
<script src="https://cmp.osano.com/AzqVhCU6cxQmt6T2i/772e052f-39db-4fff-946b-6a80e939cec6/osano.js"></script>
<!-- favicon icon -->
<link rel="icon" href={% static "latest_ui/images/favicon.ico"%}>
<!-- Title of website -->
<title></title>
<!-- Bootstrap core CSS -->
<link href={% static "latest_ui/css/bootstrap.min.css"%} rel="stylesheet" type="text/css">
<!-- Custom Fonts CSS -->
<link href={% static "latest_ui/css/fonts.css"%} rel="stylesheet" type="text/css">
<!-- slider CSS -->
<link href={% static "latest_ui/css/owl.carousel.min.css"%} rel="stylesheet" type="text/css">
<link href={% static "latest_ui/css/owl.theme.default.min.css"%} rel="stylesheet" type="text/css">
<!-- Custom CSS -->
<link href={% static "latest_ui/css/style.css"%} rel="stylesheet" type="text/css">
<link href={% static "latest_ui/css/menu.css" %} rel="stylesheet" type="text/css">
</head>
<body>
<!-- Header -->
<header class="page-header"> 
  <!-- logoBar -->
  <div class="logoBar">
    <div class="container">
      <div class="row align-items-center">
        <aside class="col-lg-3 col-md-3 col-6"> <a href="/" class="logo" title="Bybee PC">CyberUhuru </a> </aside>
        <aside class="col-lg-9 col-md-9 col-6 d-flex align-items-center justify-content-end">
          <div class="siteMenus">
            <ul>
              <li><a href="/" class="active">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/company/login/">For Companies </a></li>
              <li><a href="/login">For Candidate </a></li>
              <li><a href="/blog">Blog</a></li>
              
            </ul>
          </div>
          <ul class="becomeBtn d-none d-lg-inline-flex">
            <li><a href="/login">Create Your Profile </a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</header>
<section class="topBanner">
  <img src={% static "latest_ui/images/topImg.webp" %} alt="">
  <div class="overlay d-flex align-items-center text-center">
    <div class="container">
      <h1>We Find, Train, and Deliver The Best Cybersecurity Professionals</h1>
      <p>Where Cyber Talent Acquisition Meets Top-Tier Certification. Enhance your in-house skills, boost staffing instantly, or delegate entirely - your choice, our mission</p>
      <div class="comLink"><a href="/company/login/">For Companies</a><a href="/login">For Candidate</a></div>
    </div>
  </div>
</section>

<section class="hireSection">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="hireBox d-lg-flex align-items-center justify-content-center">
          <figure><img src={% static "latest_ui/images/hire.svg"%} alt=""></figure>
          <p>Streamline Recruitment </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hireBox d-lg-flex align-items-center justify-content-center">
          <figure><img src={% static "latest_ui/images/meets.svg" %} alt=""></figure>
          <p>Meet Cybersecurity Needs  </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hireBox d-lg-flex align-items-center justify-content-center">
          <figure><img src={% static "latest_ui/images/experts.svg" %} alt=""></figure>
          <p>Hire Qualified Experts</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h2>Finding the right cybersecurity professional is frustrating and time consuming</h2>
        <label>It doesn't have to be.</label>
        <p>With our subscription service, we handle recruitment for you. We match you with vetted cybersecurity experts and support you from start to finish, making hiring easy and stress-free.</p>
      </div>
      <div class="col-md-6 imgHight"><img src={% static "latest_ui/images/about.webp" %} class="img-fluid" alt=""></div>
    </div>
  </div>
</section>
<section class="skill">
  <div class="container">
    <h3>The shortage of skilled cybersecurity talent makes recruitment a nightmare and puts your company at risk. </h3>
    <p>The cybersecurity talent shortage is well-documented, so these concerns are amplified as companies scramble to ensure they're not only hiring the best talent but also retaining them in the face of stiff competition.</p>
  </div>
</section>

<section class="about sucess">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h2 class="pe-4">Your Best Chance For Success in a Competitive Market </h2>
        <p>In a race where top cyber talent is quickly scooped up by competitors, recruiters find themselves always a step behind. Instead of navigating this competitive landscape, CyberuHuru does the heavy lifting, ensuring you're first to connect with the ideal candidates.</p>
      </div>
      <div class="col-md-6">
        <ul class="listEmpower">
          <li>
            <figure><img src={% static "latest_ui/images/empower.svg" %} alt=""></figure>
            <p>Empower your business with exceptional cybersecurity talent </p>
          </li>
          <li>
            <figure><img src={% static "latest_ui/images/process.svg" %} alt=""></figure>
            <p>Simplify your recruitment process with a one-stop-hub for superior cyber talent </p>
          </li>
          <li>
            <figure><img src={% static "latest_ui/images/partner.svg" %} alt=""></figure>
            <p>Partner with us to strengthen your security with ongoing support </p>
          </li>
          <li>
            <figure><img src={% static "latest_ui/images/support.svg" %} alt=""></figure>
            <p>Enjoy superior customer support throughout the process </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="money">
<div class="container">
  <div class="row">
    <div class="col-md-6"><img src={% static "latest_ui/images/skills.webp" %} class="img-fluid" alt=""></div>
    <div class="col-md-6 my-auto">
      <h3>Avoid wasting time, losing money, and falling behind</h3>
      <p>CyberUhuru is like a big online mall where companies can find expert cybersecurity professionals. Companies can sign up and easily find the right people for short-term, long-term, or even permanent jobs. This saves companies a lot of time and effort in hiring.</p>
    </div>

  </div>
</div>
</section>
<section class="testimonials">
  <div class="container">
    <h2>What Our <br/>Clients Say’s</h2>
    <div id="calender" class="owl-carousel owl-theme">
      <div class="item">
        <div class="textBox">
          <figure><img src={% static "latest_ui/images/dummy-logo.png"%} alt=""></figure>
          <h4>Municipal Guide App</h4>
          <p>Municipal Information at the Touch of Your Fingertips!</p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="item">
        <div class="textBox">
          <figure><img src={% static "latest_ui/images/dummy-logo.png"%} alt=""></figure>
          <h4>Municipal Guide App</h4>
          <p>Municipal Information at the Touch of Your Fingertips!</p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="item">
        <div class="textBox">
          <figure><img src={% static "latest_ui/images/dummy-logo.png"%} alt=""></figure>
          <h4>Municipal Guide App</h4>
          <p>Municipal Information at the Touch of Your Fingertips!</p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="item">
        <div class="textBox">
          <figure><img src={% static "latest_ui/images/dummy-logo.png"%} alt=""></figure>
          <h4>Municipal Guide App</h4>
          <p>Municipal Information at the Touch of Your Fingertips!</p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="item">
        <div class="textBox">
          <figure><img src={% static "latest_ui/images/dummy-logo.png"%} alt=""></figure>
          <h4>Municipal Guide App</h4>
          <p>Municipal Information at the Touch of Your Fingertips!</p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="item">
        <div class="textBox">
          <figure><img src={% static "latest_ui/images/dummy-logo.png"%} alt=""></figure>
          <h4>Municipal Guide App</h4>
          <p>Municipal Information at the Touch of Your Fingertips!</p>
          <button>Learn More</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="ownerMsg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <b><h1>About the Owner :</h1></b>
      </div>
      <div class="col-md-6 my-auto">
        <h5>He is a Cisco Certified Network Engineer with expertise in Cisco Security and Routing & Switching design, implementation, and administration.</h5>
        <p>Clarence O. Tuning III</p>
      </div>
    </div>
    
    <div class="row pt-5">
      <div class="col-md-12">
        <ul class="listEmpower_2">
          <li>
            <figure><img src={% static "latest_ui/images/empower.svg" %} alt=""></figure>
            <p>24 years of experience as a computer engineer, Clarence brings a wealth of knowledge and expertise to the organization.</p>
          </li>
          <li>
            <figure><img src={% static "latest_ui/images/process.svg" %} alt=""></figure>
            <p>An in-depth understanding of the intricate workings of computer networks allows him to provide strategic direction and technical guidance </p>
          </li>
          <li>
            <figure><img src={% static "latest_ui/images/partner.svg" %} alt=""></figure>
            <p>He’s developed a strong foundation in network architecture, design, and administration. </p>
          </li>
          <li>
            <figure><img src={% static "latest_ui/images/support.svg" %} alt=""></figure>
            <p>A keen eye for identifying potential vulnerabilities and developing innovative solutions to enhance cybersecurity measures.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="skill">
  <div class="container">
    <h3>CyberUhuru Makes It Easy To Find, Hire and Retain The Best Cybersecurity Professionals </h3>
    <p>We keep up with the changing world of online safety, pick and teach the best experts, and make sure they have a mix of skills to fight new online dangers. Companies can easily use our website to find the right online security help they need without the hassle of hiring on their own.</p>
  </div>
</section>
<section class="howItWork">
  <div class="container">
    <div class="howTitle">
      <h3>Our unique subscription-based marketplace gives you immediate access to a rich talent pool to meet your cybersecurity needs. </h3>
      <p>Here's how it works: </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="meetBox">
          <div class="number"><span>1</span></div>
          <h4>Create Your Profile </h4>
          <p>Set up your account and select the subscription that best matches your needs </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="meetBox">
          <div class="number bg2"><span>2</span></div>
          <h4>Input Your Needs </h4>
          <p>Customize your results when you input your specific challenges and needs. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="meetBox">
          <div class="number bg3"><span>3</span></div>
          <h4>Secure Your Business </h4>
          <p>Find the right solutions and perfect candidates to mitigate and protect your business from emerging threats </p>
        </div>
      </div>
    </div>
  </div>
</section>  
<section class="contactUs">
  <div class="row g-0">
    <div class="col-lg-6 cnImg"><img class="img-fluid" src={% static "latest_ui/images/contact.webp" %} alt=""></div>
    <div class="col-lg-6 my-auto">
      <div class="conInfo">
        <h4>Determine the Right Cybersecurity Approach: In-House vs. Outsourcing</h4>
        <p>In today's digital age, cybersecurity is paramount for businesses. The dilemma often lies in choosing between hiring in-house experts or outsources the work to specialized firms. This free report outlines the advantages and considerations of each option to help businesses make an informed decision. </p>
        <p>When you sign up, you'll also receive Clarance's emails that will keep you up to date on the latest threats and tips to keep your company safe.</p>
        <form role="form" class="cnForm">
              <div class="form-group mb-4">
                <label for="">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" >
            </div>
            <div class="form-group mb-4">
              <label for="">Email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" >
            </div>
            <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Sent it to me!</button>
          </form>

      </div>
    </div>
  </div>
</section>
<section class="controlSection">
  <div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-7">
      <h4>Take control of your cybersecurity strategy today and fortify your defenses against cyber threats. </h4>
      <p>No more nerves, no more uncertainty over sourcing and retaining top talent in this intensely competitive market. Stand tall, assured in achieving your objectives, and position your business at the forefront of defense.</p>
    </div>
    <div class="col-md-4">
      <div class="comLink text-right"><a href="/company/login/">For Companies</a><a href="/login">For Candidate</a></div>
    </div>
  </div>
</div>
</section>

<footer>
  <div class="container">
    <div class="mainFoot">
    <div class="ftAbout">
      <img src={% static "latest_ui/images/logo.png" %} alt="">
      <p>Smart and fast product to help you meet your clients' needs.</p>
      <ul class="socialMedia">
        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="ftMenu">
      <h5>Product</h5>
      <ul>
        <li><a href="">Solutions</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Pricing</a></li>
      </ul>
    </div>
    <div class="ftMenu">
      <h5>Company</h5>
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="ftMenu">
      <h5>Support</h5>
      <ul>
        <li><a href="">Help Center</a></li>
        <li><a href="">Developers</a></li>
      </ul>
    </div>
    <div class="ftMenu">
      <h5>Legal</h5>
      <ul>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Privacy policy</a></li>
      </ul>
    </div>
  </div>
  </div>
</footer>
<!-- jQuery library --> 
<script src={% static "latest_ui/js/jquery.min.js"%} type="text/javascript"></script> 
<!-- Bootstrap core JS --> 
<script src={% static "latest_ui/js/bootstrap.min.js" %} type="text/javascript"></script> 
<script src={% static "latest_ui/js/popper.min.js" %} type="text/javascript"></script> 
<!-- jQuery for menu --> 
<script type={% static "latest_ui/text/javascript" %} src={% static "latest_ui/js/menu.js" %}></script> 
<script type={% static "latest_ui/text/javascript" %}>
jQuery(document).ready(function($) {
jQuery('.siteMenus').stellarNav({
breakpoint:767,
position: 'right',
});
});
</script> 
<!-- slider Top --> 
<script type="text/javascript" src={% static "latest_ui/js/owl.carousel.js" %}></script> 
<script>
    $(document).ready(function() {
	  $("#banner-slider").owlCarousel({
    items : 1,
	  nav:false,
	  dots:true,
	  loop:true,
	  autoplay:true,
	  autoplayTimeout:3000,
	  autoplayHoverPause:true
      });
    });
</script> 
<script>
    $(document).ready(function() {
	  $("#project").owlCarousel({
      items : 1,
	  nav:true,
	  dots:true,
	  loop:true,
	  autoplay:true,
	  autoplayTimeout:3000,
	  // animateIn:'fadeIn',
   //    animateOut:'fadeOut',
	  autoplayHoverPause:true
      });
    });
</script> 

<script>
  jQuery(document).ready(function($) {
			
			$('.client-say').owlCarousel({
				items: 1,
				loop: true,
				margin: 0,
				autoplay:true,
				autoplayTimeout:3000,
				nav: false,
				dots: true,
				autoHeight: true,
				responsiveClass:true
			});

    });
</script>
<script>
  const header = document.querySelector(".page-header");
const toggleClass = "is-sticky";

window.addEventListener("scroll", () => {
  const currentScroll = window.pageYOffset;
  if (currentScroll > 150) {
    header.classList.add(toggleClass);
  } else {
    header.classList.remove(toggleClass);
  }
});

</script>
<script>
  $('#calender').owlCarousel({        
    loop:true,
    margin:30, 
    dots:false,
    nav:true,       
    autoplay: true,
		singleItem:true,
		navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
        responsiveClass:true,
        responsive:{
            0:{                        
                items:1,
                
            },
            400:{                       
                items:1,
                
            },
            768:{                      
                items:2,
                
            },
            1000:{                           
                items:3,
                
            },
            1400:{
                items:3,
               
            }            
        }
    });
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EVQDLRZFTK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EVQDLRZFTK');
</script>
</body>
</html>
