{% extends 'base_profile.html' %}

{% load static %} 

{% block title %} Candidate Change Password {% endblock title %}

{% block content %}

{% include 'partials/_messages.html' %}

<section class="inHeader">
  <div class="pattern-layer-one" style="background-image: url('{% static "latest_ui/images/col-bgimage-1.jpg" %}');"></div>
  <div class="container position-relative">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Profile</h1>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Change Password</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="mainProfile">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <ul>
          <li><a href="{% url 'profile' %}"><i class="fas fa-arrow-right"></i> Edit Profile</a></li>
          <li><a href="{% url 'candidate_certificate' %}"><i class="fas fa-arrow-right"></i> Certification</a></li>
          <li><a href="{% url 'user_change_password' %}"><i class="fas fa-arrow-right"></i> Change Password</a></li>
          <li><a href="{% url 'candidate_training' %}"><i class="fas fa-arrow-right"></i> Training</a></li>
          <li><a href="{% url 'candidate_agreement' %}"><i class="fas fa-arrow-right"></i> Agreement</a></li>
          <li><a href="{% url 'candidate_advertisement' %}"><i class="fas fa-arrow-right"></i> Advetisments</a></li>
          
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="profileForm">
        <div class="perInfo">
        <div>
        <h2>Change Password</h2>
        </div>
        {% if form.non_field_errors %} 
          {% for error in form.non_field_errors%}
            <div style="color: red; font-size: 12px">{{ error }}</div>
          {% endfor %} 
        {% endif %}
        <form id="change_password" method="post" class="form" role="form" action="javascript:void(0);" >
          {% csrf_token%}
  
          <div class="row">
          
            <div class="col-md-4 form-group" id = "old_password_msg">
              <label disply:flex>Old Password</label>
              <input class="form-control" id="old_password" 
                name="old_password" placeholder=" Old Password" type="password" required style='display: text;'/>
                <span id="old_pass_message"></span>
                <div class="error-messages"></div>
            </div>
  
  
            <div class="col-md-4 form-group">
              <label>New Password</label>
              <input class="form-control" id="new_password" 
                name="new_password" placeholder=" New Password" type="password" required style='display: text;'/>
              <div class="error-messages"></div>
            </div>
  
            <div class="col-md-4 form-group">
                <label>Confirm New Password</label>
                <input class="form-control" id="confirm_new_password" 
                  name="confirm_new_password" placeholder="Confirm New Password" type="password" required style='display: text;'/>
                <span id="message"></span>
                <div class="error-messages"></div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12 form-group">
              <div class="subBtn"><button>Change</button></div>
            </div>
          </div>  
  
        </form>
      </div>    
    </div>
    </div>
</div>
</div>
  

  
</section>

{% endblock content %}

{% block footer_scripts %}
<script>
  // Event to check Password and confirm Equal
  $('#confirm_new_password').on('change', function () {
    // console.log('confirm_new_password---',isInteger(confirm_new_password));
     if ($('#confirm_new_password').val().length<8)
    {
      $('#confirm_new_password').css({ border: "1px solid red" })
      $('#new_password').css({ border: "1px solid red" })
      $('#message').html('Password length should be greater than or equal to 8').css({'color': 'red', 'text-align': 'left', 'font-size': '10px'})
    }

    else if ($('#new_password').val() != $('#confirm_new_password').val()){
      $('#confirm_new_password').css({ border: "1px solid red" })
      $('#new_password').css({ border: "1px solid red" })
      $('#message').html("Password does'nt matched! Try again").css({'color': 'red', 'text-align': 'left', 'font-size': '10px'})
    }

    else if($('#new_password').val() == $('#confirm_new_password').val()) {
      $('#confirm_new_password').css({ border: "1px solid green" });
      $('#new_password').css({ border: "1px solid green" });
      $('#message').html('Password matched').css({'color': 'green', 'text-align': 'left', 'font-size': '10px'})
      }
  });

  $(document).submit(function () {
    function postAPI(type, url, formData, fromObj) {
          $.ajax({
            url: url,
            method: "POST",
            dataType: "JSON",
            data: formData,
            contentType: false,
            processData: false,
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            beforeSend: function () {
            fromObj.find(".error-message").remove();
            console.log("inside ajax");
            },
            
            success: function (res) {
				    
              if(res.status){
                location.href = "{% url 'user_sign_in' %}";
                }
              else if (!$.isEmptyObject(res.errors)) {
                  $.each(res.errors, function (i, v) {
                  fromObj.find('input[name='+i+']').siblings("div").html(v.join(','));
                    //("#ol")
                    fromObj
                      .find("input[name=" + i + "]")
                      .css({ border: "1px solid red" });
                    fromObj
                    .find("input[name=" + i + "]")
                    .siblings("div")
                      .css({ 'color': 'red', 'font-size': '10px'});
                  });
        }
              else{
                  console.log("in else part of forgot")
                }
            },
            complete: function () {

            },
            error: function (xhr, err) {
              var errMsg = formatErrorMessage(xhr, err);
            },
          });
        }
        var ChangepasswordForm = $("#change_password");
        ChangepasswordForm.submit(function (event) {
            var form = document.getElementById("change_password");
            var token = "{{csrf_token}}";
            var formData = new FormData(form);
            var fromObj = $("#change_password");
            var url = "{% url 'user_change_password' %}";
            console.log("before calling post api");
            postAPI("user_change_password", url, formData, fromObj);
            
        });
      });



</script>

{%endblock footer_scripts%}