{% extends 'base_inner.html' %}

{% load static %}

{% block title %} Candidate Forgot-Password {% endblock title %}

{% block content %}
<section class="inHeader">
  <div class="pattern-layer-one" style="background-image: url('{% static "latest_ui/images/col-bgimage-1.jpg" %}');"></div>
  <div class="container position-relative">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Profile</h1>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Forget Password</li>
        </ol>
      </div>
    </div>
  </div>
</section>



<section class="login">
  <div class="container forget-password">
    <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="panel-body">
            <div class="text-center">
                <img src={% static "latest_ui/images/login-logo.png"%} alt="car-key" border="0" class="d-none">
                <h2 class="text-center">Forgot your password ?</h2>
                <form id="contact" method="post" class="cnForm mt-4" role="form" action="javascript:void(0)">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input class="form-control" id="email_id" name="email_id" placeholder="Email Address*" type="email"
                        required style='display: text;' />
                      <span id="message"></span>
                    </div>
      
                    {% if form.email_id.errors%}
                      <div style="color:red; text-align:left; font-size: 12px;">{{form.email_id.errors}}</div>
                    {%endif%}
                  </div>
                  <div class="row">
                    <div class="col-xs-12 my-3 col-md-12 form-group">
                      <!-- <button class="btn btn-primary pull-right" type="submit">Send</button> -->
                      <button id="send_button" class="btn btn-primary pull-right" type="submit">
                        <i class="loading-icon fa fa-spinner fa-spin hide"></i>
                        <span class="btn-txt">
                          Send
                        </span>
                      </button>
                    </div>
                    <div class="col-md-12">
                      <p class="signUp">Don't have account ? <a href="{% url 'user_register' %}">Create Account now</a></p>
                    </div>
                  </div>
      
                </form>
            </div>
        </div>
        </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div id="ResetPassModal" class="modal fade welcomeModal" role="dialog"  >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" onclick="CloseModalPopup();" aria-label="Close"><img
            src="{% static 'img/close.png'%}"></button>
        <div class="row">
          <div style="text-align: center;">
            <img src="{% static 'img/logo2.png'%}" class="img-fluid" style="width: 34%;">
          </div>
        </div>  
        <h2 class="head">Check Your Email</h2>
        <p class="content">We've emailed <span id="check_email"></span> you the link to reset your password. If an account exists with the email you have entered, you
          will receive shortly. If you don't receive an email, please make sure you've entered the address you
          registered with and also check your spam folder.</span></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block footer_scripts %}
<script>
  $(document).ready(function () {
    function postAPI(type, url, formData, fromObj) {
      $(".loading-icon").removeClass("hide")
			$("#send_button").attr("disabled", true)
			$(".btn-txt").text("Loading.....")
      $.ajax({
        url: url,
        method: "POST",
        dataType: "JSON",
        data: formData,
        contentType: false,
        processData: false,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}"
        },
        beforeSend: function () {
          fromObj.find(".error-message").remove();
        },

        success: function (res) {
          $(".loading-icon").addClass("hide")
					$("#send_button").attr("disabled", false)
					$(".btn-txt").text("Send")
          if (res.status) {
            extenstion = res.email_id.split('@')[1]
            $('#check_email').html("<a href='https://www." + extenstion + "/'>" + res.email_id + "</a>")
            $('#ResetPassModal').modal('show');
          } else {
            $("#message").html(res.error_message).css({
              'color': 'red',
              'text-align': 'left',
              'font-size': '12px'
            });
            setTimeout(function(){ 
            fromObj.find("#message").html('')
           }, 5000);
          }
        },
        complete: function () {

        },
        error: function (xhr, err) {
          var errMsg = formatErrorMessage(xhr, err);
        },
      });
    }

    var ForgotpasswordForm = $("#contact");
    ForgotpasswordForm.submit(function (event) {
      var form = document.getElementById("contact");
      var token = "{{csrf_token}}";
      var formData = new FormData(form);
      var fromObj = $("#contact");
      var url = "{% url 'forgot_password' %}";
      postAPI("forgot_password", url, formData, fromObj);

    });
  });

  function CloseModalPopup() {
    $("#ResetPassModal").modal('hide');
  }
</script>
<script>
  const header = document.querySelector(".page-header");
const toggleClass = "is-sticky";

window.addEventListener("scroll", () => {
  const currentScroll = window.pageYOffset;
  if (currentScroll > 150) {
    header.classList.add(toggleClass);
  } else {
    header.classList.remove(toggleClass);
  }
});

</script>
<style>
	.hide{
		display: none;
	}
  .modal-content{
    background-color: black;
    border: 4px solid white; 
    border-radius: 35px;
  }
  .head{
    color: white;
  }
  .content{
    color: white;
  }
</style>
{%endblock footer_scripts%}