{% extends 'base.html' %}

{% load static %} 

{% block title %} Candidate Reset-Password {% endblock title %}

{% block content %}



<section class="banrVideo">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <div class="lgBg h-100"><img src="{% static 'img/forgot-bg.jpg'%}"></div>
      </div>
      <div class="col-lg-6 text-center my-auto">
        <div class="loginForm p-5">
        <h1>Reset your password!</h1>
        {% if form.non_field_errors %} 
            {% for error in form.non_field_errors%}
                <div style="color: red; font-size: 12px">{{ error }}</div>
            {% endfor %} 
        {% endif %}
        <form id="contact" method="post" class="form pt-4" role="form">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12 form-group">
              <input class="form-control" id="password" name="password" placeholder="Password*" type="password" required style='display: text;'/>
            </div>
            {% if form.password.errors %}
              <div style="color: red; text-align: left; font-size: 12px">
                <span id="password_error">{{form.password.errors.0}}</span>
              </div>
            {%endif%}
            <div class="col-md-12 form-group">
              <input class="form-control" id="confirm_password" name="confirm_password" placeholder="New Password*" type="password" required style='display: text;'/>
              <span id="message"></span>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 form-group">
          <button class="btn btn-primary pull-right" type="submit">Reset Password</button>
        </div>
      <!-- <div class="col-md-12">
        <p class="signUp">Don't have account ? <a href={% url 'user_register' %}>Create Account now</a></p>  
      </div>   -->
      </div>
      
      </form>
          
    </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}

{% block footer_scripts %}
<script>
  // Event to check Passwor and confirm Equal
  $('#confirm_password').on('change', function () {
    if ($('#password').val() == $('#confirm_password').val()) {
      $('#confirm_password').css({ border: "1px solid green" });
      $('#password').css({ border: "1px solid green" });
      $('#message').html('Password matched').css({'color': 'green', 'text-align': 'left', 'font-size': '10px'})
      }else{
      $('#confirm_password').css({ border: "1px solid red" })
      $('#password').css({ border: "1px solid red" })
      $('#message').html("Password does'nt matched! Try again").css({'color': 'red', 'text-align': 'left', 'font-size': '10px'})
    }
  });
</script>
<script>
  window.ready = function(){
  if (document.getElementById('#password_error')){
      alert("yes")
      //document.getElementById('#password_error').disabled = true;
      $('#password_error').addClass('disabled');
  }
  }
  
  </script>


{%endblock footer_scripts%}